@model MarCom.ViewModel.EmployeeViewModel

<h3>Delete Data?</h3>
<div>

    @using (Html.BeginForm("Delete", "Employee", FormMethod.Post, new { id = "form-delete", name = "form-delete" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" value="Cancel" class="btn btn-warning" data-dismiss="modal" />
            <input type="submit" id="btn-delete" value="Delete" class="btn btn-primary" data-id="@Model.Id" /> 
        </div>
    }
</div>

<script type="text/javascript">
    $("#btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("DeleteConfirm","Employee")',
            type: 'post',
            data: { id: $(this).attr('data-id') },
            success: function (result) {
                if (result.success) {
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error! Data hasn't been deleted")
                }
            }
        })
    })
</script>
