@model MarCom.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Menu Access";
}

@Styles.Render("~/ AdminLTE / plugins / datatables / css")
<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="row">
            <div class="col-offset-11">
                <h3>List Menu Access</h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-offset-11">
                <button type="button" id="btn-new" class="btn btn-primary btn-sm">Add</button>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="Select Role Code" />
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="Select Role Name" />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="Created" />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="Created By" />
                </div>
                <div class="col-lg-offset-11">
                    <button type="button" id="btn-new" class="btn btn-warning btn-sm">Search</button>
                </div>

            </div>
            <div class="col-lg-12" id="table-list">
                <h3>Loading...</h3>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        $("#btn-new").click(function () {
            $(".modal-title").html("Add Employee");
            $.ajax({
                url: '@Url.Action("Create","MenuAccess")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "MenuAccess")',
                type: 'get',
                success: function (result) {
                    $("#table-list").html(result);
                },
                error: function (err) {
                    $("#table-list").tml(err);
                }
            });
        }
    </script>
}














